                      :host {
                         width: 50%;
                         height: 100vh;
                         padding: 10px;
                         background-color: transparent;
                         left: 0;
                         /* background-color: #d3b90a; */
                     }

                     .container {
                         position: fixed;
                         top: 9%;
                         left: 50%;
                         /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
                         /* height: 100%; */
                         /* top: 20%; */
                         /* left: 0%; */
                         padding: 20px;
                         /* border: 2px solid; */
                         justify-content: center;
                         margin: auto;
                         background-color: beige;
                         max-width: 350px;
                         max-height: 670px;
                     }
